/* @media screen and (max-width:1084px) {
    .cards{
        position: absolute;
        top: 0%;
        left: 0;
        display: flex;
      }
      .col-md-4{
        width: 100%;
      }
    
} */
@media screen and (max-width:992px) {
    .desc{
        color: white;
        font-size: 50px;
        font-weight: bold;
        /* margin-left: 5rem; */
        margin-top: 2rem;
    }

    


    .layer2{
       
            background-color:var(--main-color);
            width: 200px;
            height: 200px;
            border-radius: 5px;
            position: relative;
            left: 10%;
            bottom: 25%;
          
    }
    .btn-group{
      margin-bottom: 20px;
    }
    .img-doctor{
      width: 100px;
      height: 100px;
    }
    /* .img-patient{
      width: 100px;
      height: 100px;
    }
     
    .prescrption {
      background-color: #CAD8FF;
      margin-left: 8px;
      padding-left: 40px;
    }   */
    
}
@media screen and (max-width:768px) {
    .layer2{
       
            background-color:var(--main-color);
            width: 200px;
            height: 200px;
            border-radius: 5px;
            position: relative;
            left: 15%;
            bottom: 25%;
          
    }
    .carousel-control-prev{
        background-color: var(--main-color) !important;
            position: relative;
            left: 50%;
            top: 85px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
         }
          .carousel-control-next{
            background-color: var(--main-color) !important;
            position: relative;
            left: 60%;
            top: 45px;
            width: 40px;
            height: 40px;
            border-radius: 50%; 
          }
          .img-doctor{
            width: 150px;
            height: 150px;
          }
          .left-side{
            margin-bottom: 0px;
           }
           .img-patient{
            width: 100px;
            height: 100px;
          }
          .data-patient{
            margin-top: 2rem;
          }
}
@media screen and (max-width:500px) {
    .layer2{
       
            background-color:var(--main-color);
            width: 200px;
            height: 200px;
            border-radius: 5px;
            position: relative;
            left: 18%;
            bottom: 25%;
          
    }
    .triangle2{
      width: 100%;
      height: 105px;
      background-color: var(--main-color);
      border-radius: 15px;
      position: relative;
      display: flex;
      justify-content: center;
      margin: 2rem 1rem;
    }
    .triangle2 img{
      width: 90%;
      height: 110px;
      border-radius: 15px;
      position: relative;
      bottom: 10%;
      transition: all 1s;
    }
    .triangle2-desc{
      width: 50%;
      padding: 10px;
    }
   
}
@media screen and (max-width:768px) {
  .smile{
     left: 8%;
       
        
  }
}